* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.container{
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 728px;
    height: 90px;
    visibility: visible;
    -webkit-animation: fadeIn 0.75s linear 0s forwards;
    -moz-animation: fadeIn 0.75s linear 0s forwards;
    animation: fadeIn 0.75s linear 0s forwards;
}
.container .bg-1{
    visibility: hidden;
    position: absolute;
    width: 288px;
    height: 90px;
    left: 0;
    background: url(images/bg-1-728x90.png) no-repeat center center;
    -webkit-animation: fadeIn .5s linear .3s forwards;
    -moz-animation: fadeIn .5s linear .3s forwards;
    animation: fadeIn .5s linear .3s forwards;
}
.container .bg-2{
    visibility: hidden;
    position: absolute;
    width: 300px;
    height: 90px;
    left: 288px;
    background: url(images/bg-2-728x90.png) no-repeat center center;
    -webkit-animation: fadeIn .5s linear .6s forwards;
    -moz-animation: fadeIn .5s linear .6s forwards;
    animation: fadeIn .5s linear .6s forwards;
}
.container .bottom{
    visibility: hidden;
    position: absolute;
    width: 140px;
    height: 90px;
    right: 0;
    background: url(images/bottom-728x90.png) no-repeat center center;
    -webkit-animation: fadeIn .5s linear .6s forwards;
    -moz-animation: fadeIn .5s linear .6s forwards;
    animation: fadeIn .5s linear .6s forwards;
}
.container .text{
    visibility: hidden;
    position: absolute;
    width: 151px;
    height: 43px;
    top: 10px;
    left: 13px;
    background: url(images/text-728x90.png) no-repeat center center;
    -webkit-animation: fadeInDown .55s linear .6s forwards;
    -moz-animation: fadeInDown .55s linear .6s forwards;
    animation: fadeInDown .55s linear .6s forwards;
}